*{
	
	margin: o auto;
}

.Barra2 {

  margin: 1rem;
  text-align: center;
  background-color: #222;
  
  background-repeat: no-repeat;

  max-width: 100%;


  padding: 50px;
  color: white;
}

.menu-barra2 {
	margin: 0;
	padding: 0;
	list-style: none;

}

.menu-barra2 li {
	display: inline-block;
	padding-right: 10px;
}

.menu-barra2 li a {
	text-decoration: none;
	font-size: 6vh;
}