
.Content {

  
  margin: 0;
	

  text-align: right;
  background-color: #FFFA00;
  /*background-image: url(../images/ingenierias.jpg);*/
  background-repeat: no-repeat;

  


  padding: 10px;
  color: white;
}

