
.App {
  margin: 4rem;
  text-align: center;

}

.App-logo {

  text-align: left;

  animation: App-logo-spin infinite 20s linear;
  height: 100px;
  
}

.App-header {



  background-color: #222;

  padding: 100px;
  color: white;
}

.App-header h2{
  margin: 0  0  0  0 ;


}


.App-title {
  font-size: 1.5em;
}

p.App-intro {

  text-align: center;

  
}

.App-intro div{
  box-sizing: content-box;

 
}

button{
  font-size: small;

  text-align: left;
  background-color: #1694FF;
  border-color: #1694FF;
}

p{
  margin-bottom: 0rem;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
